/* header */
/* nav */
/* section */
/* article */
/* main */
/* aside - cosas externas a la web */
/* fouter */
/* ------------------ */
/* nombre  -> por etiqueta */
/* #nombre -> por id */
/* .nombre -> por clase */

body{
    line-height: 2;
    font-family: 'Lato', sans-serif;

}

.site-header{
    background: url("../img/header.jpg");
    height: 100vh;
    background-position:  center center;
    background-size: cover;

}

.contenido-header
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header h1{
    color: white;
    padding-bottom: 30px;
    max-width: 600px;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* rem -> aproximadamente 32px */
    padding: 2rem;
}

/*  .navegacion a  -> clase navegacion y  links */
.navegacion a{   
    /* quita el tachado que tiene el enlace */
    text-decoration: none; 
    color: white;
    margin-right: 10px;
}

.navegacion a :last-of-type{
    /* quitar el margin-rigth del ultimo link */
    margin: 0px;
}
.navegacion a:hover{
    /* cuando le pasas por arriba */
    color: green;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-iconos{
    display: flex;
}

.icono{
    flex-basis: calc(33.3% - 10px);
}