/* header */
/* nav */
/* section */
/* article */
/* main */
/* aside - cosas externas a la web */
/* fouter */
/* ------------------ */
/* nombre  -> por etiqueta */
/* #nombre -> por id */
/* .nombre -> por clase */

* {
    /* Esto seria un hack ... para que quede pegado en la posicion 0,0 de la pagina*/
    margin: 0px;
    padding: 0px;
    border: 0;
}

body {
    position: relative;
    /* height: 2000px; */
    
}

header {
    background-color: black;
    height: 10%;

}

nav {
    height: 5%;
    background-color: green;
    
}


main {
    background-color: blue;
    height: 100%;
    width: 80%;
    /* float: right; */
}

.div-medio {
    height: 75%;
}

aside {
    background-color: salmon;
    height: 100%;
    width: 20%;
    /* float: right; */
}


section {
    /* background-color: ; */
    /* position: relative; */
    margin: 10px;
    height: 30%;
    width: 50%;
}


article {
    background-color: grey;
    height: 25%;
    margin: 5px 20px;
}

footer {
    background-color: purple;
    height: 10%;
}

/* ----------- */
.icon {
    float: left;
    margin: 10px;
    height: 30%;
    width: 25%;
}

a:link{
    background-color: black;
    color: white;
    padding: 2px 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:blue;
  }